Relax-NGExercise3/Lilley1Schema.rnc

start = xml
xml = element xml {poem}
poem = element poem {title, Author, stanza+, copyright}
title = element title {text}
Author = element Author {text}
stanza = element stanza {num, line+}
num = attribute num {xsd:integer}
line = element line {num, (text|indent)}
indent = element indent {text}
copyright = element copyright {text}


