DIGIT 210/HW_Assignments/relax-ng/exercise_2/lilley_02_14_relax_02.rnc

start = element {xml}
xml = element xml {metadata (stage | sp)+}
metadata = element metadata {title. brodcastInfo, author+, composer, director, scriptSource, audio, voices, roles}
title = element title {media, mixed{date?}}
media = attribute media {"radioscript"} | "novel" | "music"}
date = element date {when, text}
when = attribute when {xsd:date}
author = element author {media, text}
media = attribute media {text}
