DIGIT 210/HW_Assignments/relax-ng/exercise_1/lilley_02_14_relax_01.rnc

start = root
root = element root {title, chapter+}
title = element title {text}
chapter = element chapter {n,heading, p+}
n = attribute n {text}
heading = element heading {text}
p = element p {n, mixed{(date* | time* | q*)*}}
date = element date {text}
time = element time {text}
q = element q {wordCount, mixed{date* | time*}}
wordCount = attribute wordCount {text}